{% overextends "pages/page.html" %}
{% load mezzanine_tags %}

{% block extra_head %}
<LINK href="{{ STATIC_URL }}css/modal_config.css" rel="stylesheet" type="text/css">
<LINK href="{{ STATIC_URL }}css/expedition_list.css" rel="stylesheet" type="text/css">
<script data-main="{{STATIC_URL}}js/main/default.js" src="{{STATIC_URL}}js/libs/require/require.js"></script>
{% block extra_extra_head %}
{% endblock %}
{% endblock %}

{% block main %}

{{ page.pagewithresume.content|richtext_filter|safe }}

{% block experience_list %}	
	<table class="table table-bordered">
     <caption></caption>
		<thead>
			<tr>
				<th>{{page.pagewithresume.resume.date_column_name}}</th>
				<th>{{page.pagewithresume.resume.description_column_name}}</th>
				<th>{{page.pagewithresume.resume.picture_column_name}}</th>
			</tr>
		</thead>
		<tbody>		
			{% for experience in page.pagewithresume.resume.experience_set.all %}
				<tr>
					<td>{{experience.date}}</td>
					<td {% if not experience.picture %}colspan="2"{%endif%}>
							<div class="upper-container">
							{{experience.description|richtext_filter|safe}}
							</div>
							{% if experience.link_set.all|length %}
							<div class="lower-container">
								<div class="row-fluid">
									{% for link in experience.link_set.all %}
									<div class="span4">
									<a href="{{link.href}}" >{{link.title}}</a>
									</div>
									{% endfor %}
								</div>
							</div>						
							{% endif %}
					</td>
					{% if experience.picture %}
					<td>												
						<a href="#exp{{experience.id}}" role="button" data-toggle="modal"><img class="experience-picture" src="{{experience.picture_thumbnail.url}}" width="150px" /></a>
						<div id="exp{{experience.id}}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" width="100%">
						<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h3>{{experience.title}}</h3>
						</div>
						<div class="modal-body">
							<a href="{{experience.picture.url}}" target="_blank">
								<img src="{{experience.picture_reasonable.url}}" />
							</a>
						</div>
						<div class="modal-footer">
						<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>				
						</div>
						</div>						
					</td>
					{% endif %}
				</tr>
				
			{% endfor %}			
		</tbody>
    </table>

{% block modal_dialogs %}
{% endblock %}
{% endblock %}

{% endblock %}

