<div class="fileupload {% if value %}fileupload-exists{% else %}fileupload-new{% endif %} {{attrs.class}}" data-provides="fileupload" id="{{attrs.id}}_fileupload">
  <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;"><img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" /></div>
  <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"><img style="max-height: 150px;max-width:200px;"></img></div>
  <img class="picture-loading" id="{{attrs.id}}_loading" src="{{STATIC_URL}}img/loading0.gif" style="width: 200px;display:none;"></img>
  <div>
    <span class="btn btn-file"><span class="fileupload-new">
    	Select image
    </span>
    <span class="fileupload-exists">Change</span>
    <input type="file" name="{{name}}" id="{{attrs.id}}" /></span>
    <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
  </div>  
</div>

