<div class="input-append {{attrs.class}}" id="{{attrs.id}}_picker">
   <input name="{{name}}" id="{{attrs.id}}" data-format="{{format}}" type="text" value="{{value|date:"Y-m-d h:m:s"}}"></input>
   <span class="add-on">
     <i data-time-icon="icon-time" data-date-icon="icon-calendar">
     </i>
   </span>
</div>
