{% extends "base.html" %}
{% load i18n mezzanine_tags location_tags %}

{% block meta_title %}{{ title }}{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block extra_head %}
<script languague="text/javascript">
var server_context = {
		STATIC_URL : "{{ STATIC_URL }}",
		MEDIA_URL : "{{ MEDIA_URL }}",
		app_args :  {
			location : 	{
					city : "{{request.META.REMOTE_ADDR|city}}",
					lat_lon : "{{request.META.REMOTE_ADDR|lat_lon}}"
			},
			location_default : 	{
				address : "{{form.where.value}}",
				lat_lon : "{{form.location.value.1}},{{form.location.value.0}}"
			},
			hide_default : {% if default_hidden %}true{% else %}false{% endif %}
		}
};
</script>
<script data-main="{{STATIC_URL}}js/main/user_profiles.js" src="{{STATIC_URL}}js/libs/require/require.js"></script>
{% endblock %}

{% block body_id %}account{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
<li>{{ title }}</li>
{% endblock %}

{% block main %}
<fieldset>
    <legend>{{ title }}</legend>
    {% block whatever %}
	{% endblock %}    
    <form method="post">
    {% fields_for form %}
    <div class="form-actions">
        <input class="btn btn-primary btn-large" type="submit" value="{{ title }}">
    </div>
    </form>
</fieldset>
{% endblock %}
