{% overextends "accounts/account_login.html" %}

{% block whatever %}
Have a social network? Login via 
<div class="btn-group">
    <a href="{% url 'socialauth_begin' 'facebook' %}" class="btn btn-primary">Facebook</a>
    <a href="{% url 'socialauth_begin' 'google' %}" class="btn btn-danger">Google</a>
    <a href="{% url 'socialauth_begin' 'twitter' %}" class="btn btn-info">Twitter</a>
    <a href="{% url 'socialauth_begin' 'weibo' %}" class="btn btn-warning">新浪微博</a>
</div>
{% endblock %}

