{% load i18n future mezzanine_tags %}

{% if request.user.is_authenticated %}
    {% trans "Logged in as: " %}
    {% url "profile" request.user.username as profile_url %}
    {% if profile_url %}
        <a href="{{ profile_url }}">{{ request.user.username }}</a><br>
        <a href="{% url "profile_update" %}"
            class="btn btn-small btn-account">{% trans "Update profile" %}</a>
    {% else %}
        <a href="{% url "profile_update" %}">{{ request.user.username }}</a>
    {% endif %}
    <a href="{% url "logout" %}?next={{ request.path }}"
        class="btn btn-small btn-danger btn-account">{% trans "Log out" %}</a>
{% else %}
    <div class="btn-group">
      	<a href="{% url "login" %}?next={{ request.path }}" class="btn btn-small">{% trans "Log in" %}</a>
  		<button class="btn btn-small dropdown-toggle" data-toggle="dropdown">    
	    <span class="caret"></span>
	    </button>
	    
	    <ul class="dropdown-menu">
		    <li>
		        <a href="{% url 'socialauth_begin' 'facebook' %}" class="btn btn-small btn-primary">with Facebook</a>
		    </li>
		    <li>
	    		<a href="{% url 'socialauth_begin' 'google' %}" class="btn btn-small btn-danger">with Google</a>
	    	</li>
	    	<li>
	    		<a href="{% url 'socialauth_begin' 'twitter' %}" class="btn btn-small btn-info">with Twitter</a>
		    </li>
		    <li>
	    		<a href="{% url 'socialauth_begin' 'weibo' %}" class="btn btn-small btn-warning">用微博登录</a>
		    </li>
	    </ul>
	</div>
    {% trans "or" %}
    <a href="{% url "signup" %}?next={{ request.path }}"
        class="btn btn-small btn-account">{% trans "Sign up" %}</a>
{% endif %}