<span class="coordinate {% if coordinate.picture or coordinate.comments %} tooltiped{% endif %}">
	<span class="name">	
		{% if is_admin %}
		<a href="{{coordinate.get_admin_url}}">{{coordinate}}</a>
		{% else %}
		{{coordinate}}
		{% endif %}
	</span>
	<div class="tooltip hide">
		{% if coordinate.picture %}
		<img src="{{coordinate.picture.url}}" width="100px" class="align-right frame"/>
		{% endif %}
		<span class="comments">
			{{coordinate.comments}}
		</span>
	</div>
</span>