{% if display_source %}
<div class="displacement coordinate start rouded_corners small-margins">
	{% include "expeditions/coordinate.html" with coordinate=displacement.source %}
</div>
{% endif %}
<div class="displacement arrow small-margins{% if displacement.comments|length or displacement.crew|length %} tooltiped{% endif %}">
{% if is_admin %}
	<a href="{{displacement.get_admin_url}}">
{% endif %}	
	<div class="transportation-source hide">
		{{displacement.source}}
	</div>
	<div class="transportation-destination hide">
		{{displacement.destination}}
	</div>
	<div class="transportation-tooltip hide">		
		{% if displacement.crew %}
			{% include "expeditions/crew.html" with crew=displacement.crew%}		
		{% endif %}
		{% if displacement.comments|length %}
		<span class="comments">
			<p>
			{{displacement.comments}}
			</p>
		</span>	
		{% endif %}
	</div>	
	
	<div class="transportation-description">
		{{displacement.get_transport_display}}		
	</div>
	<div class="transportation-arrow">
		{% if displacement.cheating %}
		<img src="/static/img/right-arrow-cheating.png" height="10px" width="50px"/>
		{% else %}
		<img src="/static/img/right-arrow.gif" height="10px" width="50px"/>
		{% endif %}
	</div>
{% if is_admin %}
	</a>
{% endif %}
</div>
<div class="displacement coordinate rouded_corners small-margins">
	{% include "expeditions/coordinate.html" with coordinate=displacement.destination %}
</div>
