<div class="row-fluid">
	<div class="hitchgraph span12">
		<div class="row-fluid">	
			<div class="span12">
				
			    <ul class="nav nav-pills toolbar">        
				    <li><a class="details-show" href="javascript:void(0);">Show everything</a></li>
				    <li class="active">
				    	<a class="details-hide" href="javascript:void(0);" >Make smaller</a>
				    </li>    
			    </ul>
			
		
		    </div>   
		</div>
	    {% block tb_space %}
	    {% if is_admin %}	
		<br/>
		<br/>	
		{% endif %}
		{% endblock %}
		<div class="row-fluid "> 
		    <div class="content span12">
		    	<div class="{% if not is_admin %}hitchgraph-blocks scrollable{%endif%}">				
				{% for displacement in graph.displacement_set.all %}
					{% if graph.start == displacement.source %}
						{% include "expeditions/displacement.html" with display_source=1 %}
					{% else %}	
						{% include "expeditions/displacement.html" with display_source=0 %}
					{% endif %}
				{% endfor %}		
				</div>		
			</div>
		</div>
	</div>	
</div>