<LINK href="{{ STATIC_URL }}css/hitchgraph.css" rel="stylesheet" type="text/css">

<!-- 
<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.min.js"></script>  
<script type="text/javascript" src="{{ STATIC_URL }}js/qTip2/dist/basic/jquery.qtip.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/hitchgraph.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBHJss7PcRCF6LetuPMWBIgtok-NITCrMM&sensor=false"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/google_maps.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/moment.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/hitchgraph/models.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/hitchgraph/views.js"></script>
-->
 
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

