{% load mezzanine_tags blog_tags i18n future blog_blocking_tags %}

<script languague="text/javascript">
var server_context = {
		STATIC_URL : "{{ STATIC_URL }}",
		MEDIA_URL : "{{ MEDIA_URL }}",
		USER : {
			id : {% if request.user.is_authenticated %}{{request.user.id}}{% else %} undefined {% endif %}
		},
		app_args :  {
			hitchgraph_res 	: 	{
				url : "{% url "hitchgraph-detail" hitchgraph.id %}",
				data : {
					user : {% block activate_user %}0{% endblock %},
					hitchgraph : "{{ hitchgraph.id }}"
				}
			}
		}
};
</script>


{% block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/hitchgraph.css">
{% endblock %}

{% block main_js %}
<script data-main="{{STATIC_URL}}js/main/hitchgraph_map.js" src="{{STATIC_URL}}js/libs/require/require.js"></script>
{% endblock %}


<div class="row-fluid">	
	<div class="span12">	
		<div class="container-fluid">		
		<div class="row-fluid" id="expedition-loading">
		
		</div>
		<div class="row-fluid" id="expedition-itineraries">
		
		</div>
		</div>
	</div>
</div>

