{% overextends "blog/includes/filter_panel.html" %}
{% load blog_tags keyword_tags i18n future blog_blocking_tags %}

{% block blog_recent_posts %}
{% blog_recent_posts 5 as recent_posts %}
{% if recent_posts %}
<h3>{% trans "Recent Posts" %}</h3>
<ul class="unstyled recent-posts">
{% for recent_post in recent_posts %}
{% deny_if_blocked recent_post request.META.REMOTE_ADDR %}
<li><a href="{{ recent_post.get_absolute_url }}"
    >{{ recent_post.title }}</a></li>
{% enddeny %}
{% endfor %}
</ul>
{% endif %}
{% endblock %}