{% overextends "pages/page.html" %}

{% load mezzanine_tags blog_tags i18n future blog_blocking_tags %}

{% block extra_head %}
{% block expeditions_extra_head %}
{% endblock %}
<script languague="text/javascript">
var server_context = {
		STATIC_URL : "{{ STATIC_URL }}",
		MEDIA_URL : "{{ MEDIA_URL }}",
		USER : {
			id : {% if request.user.is_authenticated %}{{request.user.id}}{% else %} undefined {% endif %}
		},
		app_args :  {
			hitchgraph_res 	: 	{
				url : "{% url "hitchgraph-list" %} ",
				data : {
					user : {% block activate_user %}0{% endblock %},
					expedition : "{{ page.expedition.id }}"
				}
			}
		}
};
</script>


{% block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/hitchgraph.css">
{% endblock %}

{% block main_js %}
<script data-main="{{STATIC_URL}}js/main/expeditions.js" src="{{STATIC_URL}}js/libs/require/require.js"></script>
{% endblock %}
{% endblock %}

{% block main_class %}span10{% endblock %}

{% block main %}

{% block expedition_prepend %}

{% endblock %}

<div class="row-fluid">
	<div class="span12 expedition_destination">
	To: <strong>{{page.expedition.destination}}</strong>
	</div>
</div>

<div class="row-fluid">	
	<div class="span12">	
		<div class="container-fluid">		
		<div class="row-fluid" id="expedition-loading">
		
		</div>
		<div class="row-fluid" id="expedition-itineraries">
		
		</div>
		</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span12 expedition-story">
	{{ page.expedition.story|richtext_filter|safe }}
	</div>
</div>

{% block expedition_append %}

{% endblock %}

{% endblock %}

{% block right_block %}
{% endblock %}

{% block left_panel %}
{{block.super}}

   {% nevercache %}
   {% include "includes/user_panel.html" %}
   {% endnevercache %}
   <div class="panel">
   {% block right_panel %}
   {% block blog_recent_posts %}
{% blog_recent_posts 5 as recent_posts %}

{% if recent_posts %}
<h3>{% trans "Recent Posts" %}</h3>
<ul class="unstyled recent-posts">
{% for recent_post in recent_posts %}
	{% deny_if_blocked recent_post request.META.REMOTE_ADDR %}
	<li><a href="{{ recent_post.get_absolute_url }}"
    	>{{ recent_post.title }}</a></li>
	{% enddeny %}
{% endfor %}
</ul>		
{% endif %}
{% endblock %}

   {% ifinstalled mezzanine.twitter %}
   {% include "twitter/tweets.html" %}
   {% endifinstalled %}
   {% endblock %}
   </div>

{% endblock %}