{% extends "pages/expedition.html" %}
{% load mezzanine_tags %}

{% block expeditions_extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap-fileupload/bootstrap-fileupload.css">
{% endblock %}

{% block activate_user %}1{% endblock %}
{% block main_js %}
<script data-main="{{STATIC_URL}}js/main/your_way.js" src="{{STATIC_URL}}js/libs/require/require.js"></script>
{% endblock %}


{% block expedition_prepend %}
<fieldset>
	<legend>Where else did we go?</legend>
	<form method="post" id="coordinate_form">
		{% fields_for form %}
		<div class="form-actions">
			<input class="btn btn-primary btn-large" type="submit" value="add location">
		</div>
{% endblock %}

{% block expedition_append %}
		{% fields_for form_description %}
		<div class="form-actions">
		    <input class="btn btn-primary btn-large" type="submit" value="add location">
		</div>
	</form>
</fieldset>
{% endblock %}