.infowindow-body{
	max-width: 250px;
	max-height: 150px;
	overflow: auto;
}
.displacement.coordinate {
	border:2px black solid;
	
	padding: 10px;
	float: left;
	height: 20px;
}

.displacement.coordinate.small-margins{
	margin-top: 2px;
	margin-bottom: 2px;
}

.displacement.coordinate.big-margins{
	margin-top: 2px;
	margin-bottom: 300px;
}

.displacement.arrow .transportation-description{
	text-align: center;
}

.frame { padding: 5px; border: 1px solid #aaa; }
.align-right { float:right; margin: 0 0 15px 15px; }
.align-left { float:left; margin: 0 15px 15px 0; }

.hide{
	display: none;
}

.transportation-arrow img{
	height: 10px;
	box-shadow: none;
}

.rouded_corners{
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.displacement.arrow{
	float: left;
	height: 40px;
	
	
	overflow: hidden;
}

.displacement.arrow.small-margins{
	margin-top: 4px;
	margin-bottom: 4px;
}

.displacement.arrow.big-margins{
	margin-top: 4px;
	margin-bottom: 300px;
}

.hitchgraph-blocks{
	display: inline-block;
}

.hitchgraph .scrollable{
	white-space: nowrap;
}

.hitchgraph .content{		
	overflow-y:hidden;
	overflow-x: scroll;


}

.tabbable .hitchgraph .content{
	max-width:670px;
}
