<div class="container-fluid">
	<div class="row-fluid">
	Loading...
	</div>
	<div class="row-fluid">		
		Loading data from server
	
		<div id="progress-data-load"></div>
	</div>
	<div class="row-fluid">
		<p>
		Building places into spiral
		</p>
		<div id="progress-hitchgraphs-build"></div>
	</div>
</div>