<div>
<a href="/expeditions/hitchgraphs/{{id}}/map/" target="_blank">click for bigger map</a>
</div>
<div>
<div id="expedition-hitchgraph" class="span6">	
	<div id="graph-content">
		
	</div>	
</div>
<div id="expedition_map" class="span6"></div>
</div>