<div class="btn-group" id="hitchgraph-navigation">
	<button class="btn btn-primary" id="first"><i class="icon-step-backward icon-white"></i>First</button>
   	<button class="btn btn-primary" id="previous"><i class="icon-arrow-left icon-white"></i>Previous</button>
   	<button class="btn btn-primary" id="next">Next<i class="icon-arrow-right icon-white"></i></button>		    	
   	<button class="btn btn-primary" id="last">Last<i class="icon-step-forward icon-white"></i></button>
</div>