<div class="row-fluid">
	{{#if name}}
	<div class="span3">
		Loading <em>{{name}}</em>:
	</div>
	<div class="span7">
	{{else}}
	<div class="span10">
	{{/if}}
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span2">
				spiral computation:
				</div>
				<div class="span10" id="progress-spiral">		
				</div>
			</div>
			<div class="row-fluid">
				<div class="span2">
				modal dialogs:
				</div>
				<div class="span10" id="progress-modals">		
				</div>
			</div>
			<div class="row-fluid">
				<div class="span2">
				popovers:
				</div>
				<div class="span10" id="progress-popovers">
				</div>
			</div>
		</div>
	</div>
</div>