<div class="infowindow-header">
<span class="coordinate-datetime">{{datetime_formatted}}</span> <span class="coordinate-name">{{name}}</span>:
</div>
<div class="infowindow-body">
<ul class="CoordinateDescriptions">
	{{#each coordinatedescription_set}}
	<li class="description">
		{{#if userprofile.username}}
			<div class="author">{{userprofile.username}}:</div>		
		{{/if}}
		{{#if comments}}
			<div class="comment">{{comments}}</div>				
		{{else}}
			Travelling with {{userprofile.username}}.
		{{/if}}
		{{#if picture}}
			<a href="{{picture}}" target="_blank">
			{{#if picture_thumbnail_mini}}
			<img src="{{picture_thumbnail_mini}}" alt="{{userprofile.username}}-{{name}}" />
			{{else}}
			<img src="{{../../../MEDIA_URL}}{{picture}}" alt="{{userprofile.username}}-{{name}}" style="width:150;"/>
			{{/if}}
			</a>
		{{/if}}
	</li>
	{{/each}}
</ul>
</div>
