  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>
		<span class="coordinate-datetime">{{datetime_formatted}}</span> <span class="coordinate-name">{{name}}</span>
	</h3>    
  </div>
  <div class="modal-body">
    {{#each coordinatedescription_set}}
		<li class="description">
			{{#if userprofile.username}}
				<div class="author">{{userprofile.username}}:</div>		
			{{/if}}
			{{#if comments}}
				<div class="comment">{{comments}}</div>				
			{{else}}
				Travelling with {{userprofile.username}}.
			{{/if}}
			{{#if picture}}
				<a href="{{picture}}" target="_blank">
					{{#if picture_reasonable}}
					<img src="{{picture_reasonable}}" alt="{{userprofile.username}}-{{name}}" />
					{{else}}
					<img src="{{../../../MEDIA_URL}}{{picture}}" alt="{{userprofile.username}}-{{name}}" style="width:500;"/>
					{{/if}}
				</a>
			{{/if}}
		</li>
	{{/each}}
	{{#if battery_state}}
	<div class="misc-info">
	Battery state: {{battery_state}}
	</div>
	{{/if}}
  </div>
  <div class="modal-footer">
    <a href="javascript:void(0);" class="btn" id="close">Close</a>
  </div>
