	<div class="arrow"></div>
	<h3 class="popover-title">
		<span class="coordinate-datetime">{{datetime_formatted}}</span> <span class="coordinate-name">{{name}}</span>:
		<a class="changeto-modal" id="{{id}}" href="javascript:void(0);">
		<i class="icon-chevron-up"></i>
		</a>
		<a class="close" href="javascript:void(0);">
		<i class="icon-remove"></i>
		</a>
	</h3>
	<div class="popover-content">
		<ul class="descriptions">
		{{#each coordinatedescription_set}}
		<li class="description">
			{{#if userprofile.username}}
				<div class="author">{{userprofile.username}}:</div>		
			{{/if}}
			{{#if comments}}
				<div class="comment">{{comments}}</div>				
			{{else}}
				Travelling with {{userprofile.username}}.
			{{/if}}
			{{#if picture}}
			<a href="{{picture}}" target="_blank">
				{{#if picture_thumbnail}}			
				<img src="{{picture_thumbnail}}" alt="{{userprofile.username}}-{{name}}" />				
				{{else}}
				<img src="{{../../../MEDIA_URL}}{{picture}}" alt="{{userprofile.username}}-{{name}}" style="width:370;"/>
				{{/if}}
			</a>
			{{/if}}
		</li>
		{{/each}}
		</ul>
		{{#if battery_state}}
		<div class="misc-info">
		Battery state: {{battery_state}}
		</div>
		{{/if}}
	</div>
	

