<div class="span10">
	<div class="progress progress-striped active">	
		<div class="bar" style="width: 0%;"></div>
	</div>
</div>
<div class="span2">
	<img src="{{STATIC_URL}}img/hitchgraph/loading_progress.gif" class="loading_progress" 	style="height:20px;" />
	<img src="{{STATIC_URL}}img/hitchgraph/loading_done.png" 	 class="loading_done" 		style="height:20px;display:none;"/>
</div>