{% extends "admin/base_site.html" %}

{% block content %}

<p>Enter your gmail user/password to import GPS data:</p>
<br/>

<p>
	<form action="" method="post">
		<div>
			<fieldset>
			{% csrf_token %}
			{% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
		    {{ email_credentials_form }}
			</fieldset>
			<br/>
		    <input type="submit" name="import" value="import" />
		</div>
	</form>
</p>
{% endblock %}