<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n future staticfiles %}
{% load blog_tags keyword_tags i18n future blog_blocking_tags %}
<head>

<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}Travel blog about a hitchhiking trip towards Kamchatka. Accross oceans, deserts, mountains and visas we, Alistril and Ilona will stick out our thumbs for a year and live an unexpected human experience.{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">

{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}

{% compress css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.responsive.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/mezzanine.css">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/rtl.css">
{% endif %}
{% ifinstalled cartridge.shop %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/cartridge.css">
{% endifinstalled %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap_config.css">
<link rel="stylesheet" href="{{ STATIC_URL }}datetimepicker/css/bootstrap-datetimepicker.min.css">

{% block extra_css %}{% endblock %}
{% endcompress %}

{% compress js %}

{% block extra_js %}
<script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
<script type="text/javascript">
var server_context = {
		STATIC_URL : "{{ STATIC_URL }}",
		MEDIA_URL : "{{ MEDIA_URL }}",
		USER : {
			id : {% if request.user.is_authenticated %}{{request.user.id}}{% else %} undefined {% endif %}
		}
};
</script>
{% endblock %}
{% endcompress %}
<!--[if lt IE 9]>
<script src="{{ STATIC_URL }}js/html5shiv.js"></script>
<![endif]-->

{% block extra_head %}
<script data-main="{{STATIC_URL}}js/main/default.js" src="{{STATIC_URL}}js/libs/require/require.js"></script>
{% endblock %}

</head>
<body id="{% block body_id %}body{% endblock %}">


<div class="header-image">
</div>

		<div class="navbar">
		<div class="navbar-inner">
		<div class="container-fluid">
		
		    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		    </a>
		    {% if settings.SITE_TITLE %}<a class="brand" href="/">{{ settings.SITE_TITLE }}</a>{% endif %}
		    {% if settings.SITE_TAGLINE %}<p class="navbar-text">{{ settings.SITE_TAGLINE }}</p>{% endif %}
		    <div class="nav-collapse">
		        {% search_form "all" %}
		        {% page_menu "pages/menus/dropdown.html" %}
		    </div>
		</div>
		</div>
		</div>
	
<div class="container-fluid">

{% nevercache %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}" data-alert="alert">
<a class="close" href="#" onclick="$(this).parent().fadeOut('fast'); return false;">×</a>{{ message }}
</div>
{% endfor %}
{% endnevercache %}


<h1>{% block title %}{% endblock %}</h1>


<div class="row-fluid">
	<div class="span12">
		<ul class="breadcrumb">
		{% spaceless %}
		{% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
		{% endspaceless %}
		</ul>
	</div>
</div>
<div class="row-fluid">
	<div class="span2">
		{% block left_panel %}
		<div class="panel tree">{% page_menu "pages/menus/tree.html" %}</div>
		{% endblock %}
  	</div>	    	
	
	
	<div class="{% block main_class %}span8 middle{% endblock %}">
	    {% block main %}{% endblock %}
	</div>
	{% block right_block %}
	<div class="span2 right">
	    {% nevercache %}	    
	    {% include "includes/user_panel.html" %}
	    {% endnevercache %}
	    <div class="panel">
	    {% block right_panel %}
	    {% block blog_recent_posts %}
		{% blog_recent_posts 5 as recent_posts %}
		
		{% if recent_posts %}
		<h3>{% trans "Recent Posts" %}</h3>
		<ul class="unstyled recent-posts">
		{% for recent_post in recent_posts %}
			{% deny_if_blocked recent_post request.META.REMOTE_ADDR %}
			<li><a href="{{ recent_post.get_absolute_url }}"
		    	>{{ recent_post.title }}</a></li>
			{% enddeny %}
		{% endfor %}
		</ul>		
		{% endif %}
		{% endblock %}
		
	    {% ifinstalled mezzanine.twitter %}
	    {% include "twitter/tweets.html" %}
	    {% endifinstalled %}
	    {% endblock %}
	    </div>
	</div>
	{% endblock %}
</div>
</div>

<footer>
<div class="container-fluid">
{% page_menu "pages/menus/footer.html" %}
<br style="clear:both">
<p>
    {% trans "Powered by" %}
    <a href="http://www.djangoproject.com">Django</a>,    
    <a href="http://mezzanine.jupo.org">Mezzanine</a>{% ifinstalled cartridge.shop %},
    <a href="http://cartridge.jupo.org">Cartridge</a>{% endifinstalled %},
    <a href="http://django-rest-framework.org/">Django REST Framework</a>,    
    <a href="https://github.com/cyberdelia/django-pipeline">Django Pipeline</a>,
    <a href="http://backbonejs.org/">Backbone.js</a>,
    <a href="http://marionettejs.com/">Marionette.js</a>,
    <a href="http://requirejs.org/">require.js</a>,    
    {% trans "and" %}
    <a href="http://requirejs.org/">d3.js</a>
    <span class="separator">|</span>
    {% trans "Theme by" %} <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>
</p>
<p>    
    {% ifinstalled mezzanine.mobile %}
    <span class="separator">|</span>
    <a href="{% url "set_device" "mobile" %}?next={{ request.path }}">{% trans "View Mobile Site" %}</a>
    {% endifinstalled %}
</p>
</div>
</footer>

{% include "includes/footer_scripts.html" %}

</body>
</html>
