{% extends "base.html" %}
{% load i18n future mezzanine_tags %}

{% block extra_head %}
<script languague="text/javascript">
var server_context = {
		STATIC_URL : "{{ STATIC_URL }}",
		MEDIA_URL : "{{ MEDIA_URL }}",
		app_args :  {}
};
</script>
{% block main_js %}
<script data-main="{{STATIC_URL}}js/main/index.js" src="{{STATIC_URL}}js/libs/require/require.js"></script>
{% endblock %}
{% endblock %}

{% block extra_css %}
<link href="{{STATIC_URL}}/bxslider/jquery.bxslider.css" rel="stylesheet" />
{% endblock %}

{% block main %}
</script>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<h1>Hitchhiking east!</h1>
		</div>
	</div>
	
	<div class="row-fluid">
		<div class="span12">
		<p>
		Hello, I am Alistril (that's a nickname!) and together with Ilona, we are planning to hitchhike in the eastern direction.
		</p>
		<p>
		Departing from Prague we'll travel further east than China, further than Japan, more east even than Vladivostok until we reach the russian province of <em>Kamchatka</em> or maybe somewhere else.
		</p>		
		<p class="lead">Don't forget to check the <a href="{% url "blog_post_list" %}">BLOG!</a></p> 
		
		</div>		
	</div>
	<hr/>
	<div class="row-fluid" id="height:400px;">
		{% if request.user.is_anonymous %}
		<div class="span6 well">			
		    <legend>Did you meet us?</legend>
		    <form method="post" action="{% url "user_profiles-initial-cardcode-submit" %}">
		    	<p>
		    	Maybe we gave you a little card with a 5-symbol code on it. Enter the code to enter your personal space.
		    	</p>
			    {% fields_for card_code_form %}
			        <input class="btn" type="submit" name="mezzanine" value="{% trans "Register here" %}" />			        
			        ... or enter with:
		            <div class="btn-group">
					    <input type="submit" class="btn btn-primary" name="facebook" value="Facebook" />
					    <input type="submit" class="btn btn-danger" name="google" value="Google" />
					    <input type="submit" class="btn btn-info" name="twitter" value="Twitter" />
					    <input type="submit" class="btn btn-warning" name="weibo" value="新浪微博" />
					</div>
		    </form>			
		</div>		
		<div class="span6">
			<ul class="bxslider" style="display:none;">
				{% for file in files %}
				  <li>				  
				  	<img src="{{MEDIA_URL}}frontpage/{{file}}" style="max-width:400px; max-height:400px;"/>				  
				  </li>
			  {% endfor %}
			</ul>			
		</div>
		{% else %}
		<div class="span12">
			<ul class="bxslider" style="display:none;">
				{% for file in files %}
				  <li>
				  <div style="width:100%;">
				  	<img src="{{MEDIA_URL}}frontpage/{{file}}" style="margin-left: auto;margin-right: auto;max-height:400px;"/>
				  </div>
				  </li>
			  {% endfor %}
			</ul>
		</div>
		{% endif %}
	</div>
	<hr/>
	<div class="row-fluid">
		<div class="span12">
		<p>
		No hotels, no hostels, no buses, no trains and no planes either. Not unless offered to us at least.
		As a matter or fact, we would like to get there for <a href="/questions/#money_not _possible">no more than 2 euros per day</a> only relying on the kindness of people.
		</p>
		<p>
		The journey will be difficult, parts of it were not tried before (not by hitchhiking at least). But chances are it'll be unique and definitly a lifetime experience to be remembered.
		</p>
		<p>
		You can read about <a href="/the-project/">the project more in detail</a>. If you have <a href="/questions/">questions</a> you can look <a href="/questions/">here</a>.
		And if you are wondering <a href="/who-are-we/">who we are</a>, you can read about <a href="/who-are-we/alistril">Alistril</a> and <a href="/who-are-we/">Ilona</a>.
		</p>		
		<p>
		Ready? Yeah, we neither.
		</p>
		<hr/>
		</div>		
	</div>
	<div class="row-fluid" itemscope itemtype="http://schema.org/Event">
		<div class="span4">
		<h3><span itemprop="name">Time before departure</span>:</h3>
		</div>
		<div class="span8">
		<meta itemprop="startDate" content="2013-05-20T20:01:30Z" />
		<h3 id="time-before-departure" style="color:red;"></h3>
		</div>
	</div>
</div>
{% endblock %}
